@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Background color behind the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #ffffff; /* Border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Color of the thumb on hover */
}
